<!-- section -->
        <div class="section pt-0" id="about-us">
          <div class="container">
            <div class="two-column-layout1">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-xl-10 d-flex flex-column h-100">
                    <div class="description mt-auto">
                      <h2><span>About Us</span>Heading to go here</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <a href="#" class="btn btn-outline-secondary">Contact Us</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <figure class="figure1">
                    <img src="images/image1.jpg" class="w-100" alt="img">
                  </figure>
                </div>
              </div>
            </div>
            <ul class="list1">
              <li>
                <i class="icon">
                  <img src="images/icon1.png" alt="img">
                </i>
                <span>Bespoke service tailored to you</span>
              </li>
              <li>
                <i class="icon">
                  <img src="images/icon2.png" alt="img">
                </i>
                <span>Friendly & Reliable Team</span>
              </li>
              <li>
                <i class="icon">
                  <img src="images/icon3.svg" alt="img">
                </i>
                <span>Travel across Northamptonshire</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- /section -->


{% schema %}
  {
    "name": "About Us",
    "settings": []
  }
{% endschema %}