<div id="banner">
        <div class="owl-carousel carousel1">
          <div class="item">
            <div class="row">
              <div class="col-md-5">
                <div class="description bg-pattern1">
                  <div class="inner-wrapper">
                    <h1>Companionship with care</h1>
                    <p>Supporting families with our bespoke companion service across Northamptonshire & beyond</p>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <figure class="figure1">
                  <img src="images/banner-img1.jpg" class="w-100" alt="banner-image">
                </figure>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-5">
                <div class="description bg-pattern1">
                  <div class="inner-wrapper">
                    <h2 class="h1">Companionship with care</h2>
                    <p>Supporting families with our bespoke companion service across Northamptonshire & beyond</p>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <figure class="figure1">
                  <img src="images/banner-img1.jpg" class="w-100" alt="banner-image">
                </figure>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-5">
                <div class="description bg-pattern1">
                  <div class="inner-wrapper">
                    <h2 class="h1">Companionship with care</h2>
                    <p>Supporting families with our bespoke companion service across Northamptonshire & beyond</p>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <figure class="figure1">
                  <img src="images/banner-img1.jpg" class="w-100" alt="banner-image">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <button id="scroll-down">
          <i class="icon">
            <img src="images/arrow-down.png" alt="img">
          </i>
        </button>
      </div>
      <!-- /banner -->


{% schema %}
  {
    "name": "Banner With Text",
    "settings": [],
	"blocks": [
		{
			"name": "Banner",
			"type": "banner",
			"settings": [
				{
					"id": "heading",
					"type": "text",
					"label": "Heading"
				},
				{
					"id": "content",
					"type": "richtext",
					"label": "Content"
				},
				{
					"id": "image",
					"type": "image_picker",
					"label": "Banner Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Banner With Text",
			"blocks": [
				{
					"type": "banner"
				}
			]
		}
		]
  }
{% endschema %}
