<!-- section -->
        <div class="section">
          <div class="container">
            <div class="owl-carousel carousel2">
              <div class="item">
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <i class="icon">
                      <img src="images/icon13.svg" alt="img">
                    </i>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                      <cite>Name to go here</cite>
                    </blockquote>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <i class="icon">
                      <img src="images/icon13.svg" alt="img">
                    </i>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                      <cite>Name to go here</cite>
                    </blockquote>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-8 mx-auto">
                    <i class="icon">
                      <img src="images/icon13.svg" alt="img">
                    </i>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                      <cite>Name to go here</cite>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- /section -->

{% schema %}
  {
    "name": "Testimonials",
    "settings": []
  }
{% endschema %}
