<!-- section -->
        <div class="section">
          <div class="container">
            <div class="owl-carousel carousel2">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'testimonials' %}
                    <div class="item">
                      <div class="row">
                        <div class="col-md-8 mx-auto">
                          <i class="icon">
                            <img src="{{ 'icon13.svg' | asset_url }}" alt="img">
                          </i>
                          <blockquote>
                            {{ block.settings.content }}
                            <cite>{{ block.settings.name }}</cite>
                          </blockquote>
                        </div>
                      </div>
                    </div>
              	{% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
<!-- /section -->

{% schema %}
  {
    "name": "Testimonials",
    "settings": [],
	"blocks": [
		{
			"name": "Testimonial",
			"type": "testimonial",
			"settings": [
				{
					"type": "richtext",
					"id": "content",
					"label": "Content"
				},
				{
					"type": "text",
					"id": "name",
					"label": "Person Name"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Testimonials"
		}
	]
  }
{% endschema %}
