<!-- widget -->
      <div class="widget">
        <i class="icon">
          <img src="images/phone1.svg" alt="img">
        </i>
        <a href="tel:{{ section.settings.number }}">{{ section.settings.number }}</a>
      </div>
      <!-- /widget -->

{% schema %}
  {
    "name": "Widget",
    "settings": [
		{
			"id": "number",
			"type": "text",
			"label": "Phone"
		}
	]
  }
{% endschema %}