<!-- widget -->
      <div class="widget">
        <i class="icon">
          <img src="images/phone1.svg" alt="img">
        </i>
        <a href="#">{{ settings }}</a>
      </div>
      <!-- /widget -->

{% schema %}
  {
    "name": "Widget",
    "settings": []
  }
{% endschema %}